*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;
}

body {
    color: var(--black);
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

button {
    padding: 6px 10px 6px 10px;
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
    background-color: var(--white);
    cursor: pointer;
    text-transform: lowercase;
}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

footer {
    color: var(--white);
    background-color: var(--black);
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

a,
button {
    font-size: 20px;
    line-height: 100%;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav a {
    color: var(--black);
    display: inline-block;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

.main-nav a:hover {
    color: var(--green);
}

.contacts,
.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li,
.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contacts-link {
    color: var(--black);
    display: block;
    width: 203px;
    height: 30px;
    padding: 5px 0 5px 42px;
    background-repeat: no-repeat;
    background-position: left;
    text-decoration: none;
}

.contacts-link:hover {
    color: var(--green);
}

.contacts-link_email {
    background-image: url(/img/icons_svg/contacts/email.svg);
}

.contacts-link_tel {
    background-image: url(/img/icons_svg/contacts/phone.svg);
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}

.skill-level {
    margin: 4px 0 16px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}

.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}

.skill-item {
    text-transform: lowercase;
}

.skill-item_html {
    background-image: url("/img/icons_svg/skills/html.svg");
}

.skill-item_css {
    background-image: url("/img/icons_svg/skills/css.svg");
}

.skill-item_python {
    background-image: url("/img/icons_svg/skills/python.svg");
}

.skill-item_java {
    background-image: url("/img/icons_svg/skills/java.svg");
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border: 1px solid var(--green);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover {
    background-color: var(--green);
}

.social-link_github {
    background-image: url(/img/icons_svg/social/github.svg);
}

.social-link_telegram {
    background-image: url(/img/icons_svg/social/telegram.svg);
}

.social-link_vk {
    background-image: url(/img/icons_svg/social/vk.svg);
}

.subtitle p {
    color: var(--green);
    font-size: 38px;
    line-height: 120%;
}

.subtitle img {
    border-radius: 50%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about_me p, 
.skills p, 
.interests p, 
.contacts p {
    font-size: 20px;
    line-height: 150%;
}
