@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"),
        url(../fonts/OpenSans-Regular.woff2) format("woff2"), 
        url(../fonts/OpenSans-Regular.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url(../fonts/OpenSans-Bold.woff2) format("woff2"),
        url(../fonts/OpenSans-Bold.woff) format("woff");
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

a {
    line-height: 100%;
}

button {
    padding: 6px 10px 10px 10px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    text-transform: lowercase;
    line-height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    margin: 0 0 20px 0;
    line-height: 110%;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 40px 0;
    line-height: 120%;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

section {
    margin: 120px 0 120px 0;
}

.contacts-all {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.intro {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
}

.intro img {
    border-radius: 50%;
    order: 1;
}

.main-footer .container {
    padding: 50px 20px;
}

.main-header {
    align-items: center;
    display: flex;
    padding-top: 60px;
    gap: 40px;
    line-height: 0;
}

.main-header-wrap {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.main-nav {
    display: flex;
}

.main-nav a {
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

.mail-phone,
.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mail-phone li,
.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.mail-phone {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.mail-phone-link {
    display: block;
    padding: 5px 0 5px 42px;
    background-position: left;
    background-repeat: no-repeat;
    text-decoration: none;
}

.nav-btn {
    display: none;
}

.text-wrapper {
    max-width: 800px;
}

.theme-button {
    align-self: center;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}

.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border-radius: 16px;
}

.skill-level div {
    height: 14px;
    border-radius: 8px;
}

.skill-item {
    text-transform: lowercase;
}

.skills-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 40px 0;
    gap: 40px;
}

.skills-header div {
    align-items: center;
    display: flex;
    gap: 20px;
}

.skills-header h2 {
    margin: 0;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link_github {
    background-image: url(../img/icons_svg/social/github.svg);
}

.social-link_telegram {
    background-image: url(../img/icons_svg/social/telegram.svg);
}

.social-link_vk {
    background-image: url(../img/icons_svg/social/vk.svg);
}

.subtitle {
    font-size: 38px;
    margin: 0;
    line-height: 120%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-nav a,
.mail-phone-link,
button,
.social-link {
    transition: 500ms;
}
