:root {
    --black: #212121;
    --green: #09A494;
    --grey: #0D1117;
    --grey2: #21262D;
    --grey3: #30363D;
    --white: #FFFFFF;
}

/* Light theme */
.light-theme {
    color: var(--black);
    background-color: var(--white);
}

.light-theme button {
    border: 1px solid var(--green);
    color: var(--green);
}

.light-theme footer {
    color: var(--white);
    background-color: var(--black);
}

.light-theme .main-nav a {
    color: var(--black);
}

.light-theme .mail-phone-link {
    color: var(--black);
}

.light-theme .nav-btn,
.light-theme .nav-btn:hover {
    background-color: transparent;
    border: none;
}

.light-theme .skill-level {
    border: 1px solid var(--black);
}

.light-theme .skill-level div {
    background-color: var(--green);
}

.light-theme .social-link {
    background-color: var(--white);
    border: 1px solid var(--green);
}

.light-theme .subtitle {
    color: var(--green);
}

.light-theme .main-nav a:hover,
.light-theme .mail-phone-link:hover {
    color: var(--green);
}

.light-theme button:hover,
.light-theme .social-link:hover {
    color: var(--white);
    background-color: var(--green);
}

/* Dark theme */
.dark-theme {
    color: var(--white);
    background-color: var(--grey);
}

.dark-theme button {
    border: 1px solid var(--green);
    color: var(--green);
}

.dark-theme footer {
    color: var(--white);
    background-color: var(--grey2);
}

.dark-theme .main-nav a {
    color: var(--white);
}

.dark-theme .mail-phone-link {
    color: var(--white);
}

.mail-phone-link_email {
    background-image: url(../img/icons_svg/contacts_dark-theme/email_dark.svg);
}

.mail-phone-link_tel {
    background-image: url(../img/icons_svg/contacts_dark-theme/phone_dark.svg);
}

.dark-theme .nav-btn,
.dark-theme .nav-btn:hover {
    background-color: transparent;
    border: none;
}

.dark-theme .skill-level {
    border: 1px solid var(--white);
}

.dark-theme .skill-level div {
    background-color: var(--green);
}

.dark-theme .social-link {
    background-color: var(--grey3);
    border: 1px solid var(--green);
}

.dark-theme .subtitle {
    color: var(--green);
}

.dark-theme .main-nav a:hover,
.dark-theme .mail-phone-link:hover {
    color: var(--green);
}

.dark-theme button:hover,
.dark-theme .social-link:hover {
    color: var(--white);
    background-color: var(--green);
}
